.tk-gradient {
    background: linear-gradient(to right, #8a2387, #e94057, #f27121);
    height: 120px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tk-gradient-each {
    width: 25%;
    padding: 0;
    margin-top: 0;
}

.tk-gradient-each p {
    text-align: center;
    margin-top: 20px;
    padding: 10;
    border-width: 2px solid red;
}

.navbar {
    background-color: #f8f9fa;
    padding: 10px;
}

.navbar-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-item {
    margin-right: 10px;
}

.navbar-item:last-child {
    margin-right: 0;
}

.navbar-item a {
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
    border-radius: 5px;
}

.navbar-item a:hover {
    background-color: #ddd;
}